.App {
  text-align: center;
  min-height: 100vh;
  margin-bottom: 1rem;
  background-color: var(--bg);
}

.pokecards{
  min-height: 70vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clean-pokedex{
  position: relative;
  width: 100%;
  display: flex;
  /* z-index: -1; */
  justify-content: center;
  left: 50%;
  /* bottom: 1rem; */
  transform: translate(-50%, -50%);
  margin: 1rem 0 0 0;
}

.clean-pokedex-btn{
  font-size: 1rem;

}